.avatar {
  border-radius: 50%;
}

.stars {
  padding-left: 1vw;
  padding-right: 1vw;
  margin-top: 0.5vw;
  line-height: 2.7vw !important;
}

.stars img {
  height: 1vw !important;
}

.title {
  display: flex;
}

.container img {
  width: 3vw !important;
  height: 3vw !important;
}

.description {
  margin-top: 0.6vw;
  font-size: 1.2vw;
  font-family: "textasmall";
  line-height: 1.4vw;
  max-width: 30vw;
}

.name {
  font-size: 2vw;
  padding-left: 1.2vw;
  margin: 0;
  margin-bottom: 0;
  font-family: "textasmall";
}

.score {
  font-family: "textasmall";
  font-size: 1.5vw;
}

@media (max-width: 600px) {
  .container img {
    width: 9vw !important;
    height: 9vw !important;
  }

  .title {
    align-items: center;
  }

  .stars {
    line-height: 1.3vw !important;
  }

  .stars img {
    height: 3.5vw !important;
  }

  .score {
    font-size: 4vw;
  }

  .name {
    font-size: 5vw;
  }

  .description {
    font-size: 5vw;
    max-width: 80vw;
    line-height: 4vw;
    margin-top: 2vw;
  }
}
